In [ ]:
import pandas as pd

In [ ]:
import numpy as np

In [ ]:
seri = pd.Series([1,2,3,45])

In [ ]:
seri

0     1
1     2
2     3
3    45
dtype: int64

In [ ]:
type(seri)

pandas.core.series.Series

In [ ]:
seri.dtype

dtype('int64')

In [ ]:
seri.mean() # aritmetik ortalamayı verir

12.75

In [ ]:
seri.axes

[RangeIndex(start=0, stop=4, step=1)]

In [ ]:
seri.size

4

In [ ]:
seri.ndim # boyut

1

In [ ]:
seri.shape

(4,)

In [ ]:
seri.head

<bound method NDFrame.head of 0     1
1     2
2     3
3    45
dtype: int64>

In [ ]:
seri.head(2)

0    1
1    2
dtype: int64

In [ ]:
seri.tail(2)

2     3
3    45
dtype: int64

In [ ]:
seri = pd.Series(np.random.randint(3,17,size = 18))

In [ ]:
seri

0      5
1      7
2     11
3      7
4     14
5     12
6      4
7      9
8      7
9      5
10    11
11     7
12    12
13     5
14     7
15    12
16    10
17    13
dtype: int64

In [ ]:
seri = pd.Series(np.random.randint(1,10,size = 5))
seri

0    1
1    4
2    7
3    2
4    2
dtype: int64

In [ ]:
seri.index = ["a","b","c","d","e"]

In [ ]:
seri

a    1
b    4
c    7
d    2
e    2
dtype: int64

In [ ]:
seri["a":"c"]

a    1
b    4
c    7
dtype: int64

In [ ]:
seri["a"], seri[["c"]]

(1, c    7
 dtype: int64)

In [ ]:
seri

a    1
b    4
c    7
d    2
e    2
dtype: int64

In [ ]:
seri[["c"]]

c    7
dtype: int64

In [ ]:
seri2 = pd.Series(np.random.randint(3,65,size = 5))
seri1 = pd.Series(np.random.randint(3,40, size = 5))
seri3 = pd.concat([seri1,seri2])
seri3

0     4
1    18
2     4
3    21
4    37
0    31
1    23
2    13
3    42
4    46
dtype: int64

In [ ]:
seri.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [ ]:
seri.values

array([1, 4, 7, 2, 2])

In [ ]:
seri.keys

<bound method Series.keys of a    1
b    4
c    7
d    2
e    2
dtype: int64>

In [ ]:
list(seri.items())

[('a', 1), ('b', 4), ('c', 7), ('d', 2), ('e', 2)]

In [ ]:

8 in seri

False

In [ ]:
8 in seri.values

False

In [ ]:
2 in seri.values

True

In [ ]:
sözlük = {"a":"hello", "b":"hi", "c":"comestas"}
seri = pd.Series(sözlük)

In [ ]:
seri

a       hello
b          hi
c    comestas
dtype: object

In [ ]:
seri.values

array(['hello', 'hi', 'comestas'], dtype=object)

In [ ]:
seri.items

<bound method Series.items of a       hello
b          hi
c    comestas
dtype: object>

In [ ]:
list(seri.items())

[('a', 'hello'), ('b', 'hi'), ('c', 'comestas')]

In [ ]:
seri=pd.Series(np.arange(1,10,2))
seri

0    1
1    3
2    5
3    7
4    9
dtype: int64

In [ ]:
seri.mean() # ortalaması

5.0

In [ ]:
seri.median()

5.0

In [ ]:
seri = pd.Series(np.random.randint(3,100,size = 9))

In [ ]:
seri

0    44
1    69
2    46
3    97
4    48
5    85
6    28
7    45
8     3
dtype: int64

In [ ]:
seri.mean()

51.666666666666664

In [ ]:
seri.median()

46.0

In [ ]:
df = pd.DataFrame(np.random.randint(1,100,size = 10),columns=["Değer"])

In [ ]:
df

   Değer
0     72
1     46
2     51
3     68
4     28
5     27
6     33
7     17
8     95
9     93

In [ ]:
df1 = pd.DataFrame(np.random.randint(3,100,size = (4,5)))

In [ ]:
df1

    0   1   2   3   4
0  60  85   8  68  66
1  70  25  16  34  66
2  83  91  97  96  71
3  55  53  87  44  92

In [ ]:
df2=pd.DataFrame(np.random.randint(1,100,size = (4,5)), index=["a","b","c","d"],
                 columns=["deg","deg1","deg2","deg3","deg5"] )

In [ ]:
df2

   deg  deg1  deg2  deg3  deg5
a   81    78    44    91    71
b   67    80    52    53    59
c   17    89    72    21    82
d   35     8    72    56    63

In [ ]:
import seaborn as sbn

In [ ]:
df2

   deg  deg1  deg2  deg3  deg5
a   81    78    44    91    71
b   67    80    52    53    59
c   17    89    72    21    82
d   35     8    72    56    63

In [ ]:
df2.iloc[0]

deg     81
deg1    78
deg2    44
deg3    91
deg5    71
Name: a, dtype: int64

In [ ]:
df2.iloc[[0]]

   deg  deg1  deg2  deg3  deg5
a   81    78    44    91    71

In [ ]:
df2.loc["d"]

deg     35
deg1     8
deg2    72
deg3    56
deg5    63
Name: d, dtype: int64

In [ ]:
df2.iloc[2:4,1:3]

   deg1  deg2
c    89    72
d     8    72

In [ ]:
df2.loc["c":"d","deg1":"deg3"]

   deg1  deg2  deg3
c    89    72    21
d     8    72    56

In [ ]:
df2.isnull()

     deg   deg1   deg2   deg3   deg5
a  False  False  False  False  False
b  False  False  False  False  False
c  False  False  False  False  False
d  False  False  False  False  False

In [ ]:
df2.isnull().value_counts()

deg    deg1   deg2   deg3   deg5
False  False  False  False  False    4
dtype: int64

In [ ]:
df2

   deg  deg1  deg2  deg3  deg5
a   81    78    44    91    71
b   67    80    52    53    59
c   17    89    72    21    82
d   35     8    72    56    63

In [ ]:
df = pd.DataFrame(np.random.randint(1,10,size = (3,5)), 
                  index = ["deg1","deg2","deg3"],columns=["A","B","C","D","E"])

In [ ]:
df

      A  B  C  D  E
deg1  1  6  3  9  8
deg2  5  8  3  6  9
deg3  4  4  7  4  9

In [ ]:
df.drop("A",axis=1)

      B  C  D  E
deg1  6  3  9  8
deg2  8  3  6  9
deg3  4  7  4  9

In [ ]:
df.drop("deg1", axis=0)

      A  B  C  D  E
deg2  5  8  3  6  9
deg3  4  4  7  4  9

In [ ]:
df.loc["deg2"].sum()

31

In [ ]:
df.iloc[1,1]

8

In [ ]:
df.iloc[2,1]

4

In [ ]:
df.iloc[2,4]

9

In [ ]:
num = np.random.randint(1,20,size=(3,6))
num1 = np.random.randint(1,20,size=(3,5))
num3 = np.concatenate((num1,num),axis = 1)
df=pd.DataFrame(num3,index=["satır satır2 satır3".split()], columns = [list("abcdefghjkl")])
df

         a   b   c   d   e   f   g   h   j   k  l
satır    4  18   9   1  14   4   6   1   6  15  4
satır2  15   2  12   9  18  10  10  17   3  19  3
satır3  10  17  19  18  11  10  16   7  18   8  7

In [ ]:
df.iloc[1,2]

19

In [ ]:
df[df>15]

         a     b     c     d     e   f     g     h     j     k   l
satır  NaN  18.0   NaN   NaN   NaN NaN   NaN   NaN   NaN   NaN NaN
satır2 NaN   NaN   NaN   NaN  18.0 NaN   NaN  17.0   NaN  19.0 NaN
satır3 NaN  17.0  19.0  18.0   NaN NaN  16.0   NaN  18.0   NaN NaN

In [ ]:
df[df[0:2]>2]

           a     b     c    d     e     f     g     h    j     k    l
satır    4.0  18.0   9.0  NaN  14.0   4.0   6.0   NaN  6.0  15.0  4.0
satır2  15.0   NaN  12.0  9.0  18.0  10.0  10.0  17.0  3.0  19.0  3.0
satır3   NaN   NaN   NaN  NaN   NaN   NaN   NaN   NaN  NaN   NaN  NaN

In [ ]:
df1 = pd.DataFrame({"çalışanlar " : ["ali","veli","zeki"], "işe başlama": [2019,2020,2021]})

In [ ]:
df1

  çalışanlar   işe başlama
0         ali         2019
1        veli         2020
2        zeki         2021

In [ ]:
df2 = pd.DataFrame({"çalışanlar " : ["ali","veli","zeki"], "departman" : ["IK","HR","Muhasebe"]})

In [ ]:
df2

  çalışanlar  departman
0         ali        IK
1        veli        HR
2        zeki  Muhasebe

In [ ]:
df3 = pd.merge(df1,df2)
df3

  çalışanlar   işe başlama departman
0         ali         2019        IK
1        veli         2020        HR
2        zeki         2021  Muhasebe

In [85]:
df4 = pd.DataFrame({"grup": ["Engineer", "IT ","Jokey"], "çalışanlar " : ["ali","veli","zeki"]})

In [86]:
df4

       grup çalışanlar
0  Engineer         ali
1       IT         veli
2     Jokey        zeki

In [87]:
pd.merge(df3,df4)

  çalışanlar   işe başlama departman      grup
0         ali         2019        IK  Engineer
1        veli         2020        HR       IT
2        zeki         2021  Muhasebe     Jokey